acdh-django-browsing
acdh-django-netvis
acdh-uri-norm-rules
acdh-arche-assets
Django>=5.1,<6 
django-autocomplete-light
django-ckeditor
django-leaflet
django-reversion
djangorestframework
lxml
psycopg2-binary
pandas
rdflib
requests
xlrd
