acdh-django-charts
acdh-django-netvis
acdh-uri-norm-rules
Django>=5.1,<6 
django-autocomplete-light
django-ckeditor
django-crispy-forms
crispy-bootstrap5
django-filter
django-leaflet
django-reversion
django-super-deduper
django-tables2
djangorestframework
lxml
psycopg2-binary
pandas
rdflib
requests
xlrd
