acdh-django-charts==0.5.3
Django==2.1.7
django-autocomplete-light==3.3.0rc3
django-bootstrap3==10.0.1
django-ckeditor==5.4.0
django-crispy-forms==1.7.2
django-extensions==1.9.9
django-filter==2.1.0
django-js-asset==1.1.0
django-leaflet==0.24.0
django-rest-framework==0.1.0
django-super-deduper==0.1.0
django-tables2==1.9.0
djangorestframework==3.7.7
entrypoints==0.2.3
html5lib==1.0.1
