{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
      <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Info</h4>
              </div>
    <div class="card-body">
            <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            {% get_verbose_name airstrike "date" %}
                        </th>
                        <td>
                            {{ object.date }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% get_verbose_name airstrike "target" %}
                        </th>
                        <td>
                            <a href="{{ object.target.get_absolute_url }}">{{ object.target }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name airstrike "plane_type" %}
                        </th>
                        <td>
                            {{ object.plane_type }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name airstrike "number_of_planes" %}
                        </th>
                        <td>
                            {{ object.number_of_planes }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name airstrike "airforce" %}
                        </th>
                        <td>
                            {{ object.airforce }}
                        </td>
                    </tr>
                </table>
                {% if user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url 'entities:airstrike_delete' pk=object.id %}">delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
