{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Info</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                <tr>
                    <th>related places</th>
                    <td>
                        <ul>
                            {% for x in object.altname_of_place.all %}

                            <li><a href="{% url 'entities:place_detail' pk=x.id %}">{{ x }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
        </table>
    </div>
</div>
</div>
{% endblock %}
