{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load browsing_extras %}
{% block title %}Bomber{% endblock %}

{% block scriptHeader %}
<!-- In case you are using any autocomplete-functions, don´t forget to
include 'autocomplete_light/static.html
-->
<!--leafletjs -->
<link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}" />
<script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
<style>
#map { height: 500px; }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="card procustom-panel-create">
        <div class="card-header procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'entities:bomber_detail' pk=object.get_prev %}">
                            <i class="fas fa-chevron-left" title="previous"></i>
                        </a>
                    </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>bomber:</small> {{ object }}
                        {% if user.is_authenticated %}
                        <small><a href="{% url 'entities:bomber_edit' pk=object.id %}">
                            <i class="far fa-edit" title="edit"></i>
                        </a>
                    </small>
                    {% endif %}
                </h1>
            </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'entities:bomber_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <legend>Über den Bomber</legend>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            {% get_verbose_name bomber "macr_nr" %}
                        </th>
                        <td>
                              {{ object.macr_nr }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "squadron" %}
                        </th>
                        <td>
                            {{ object.squadron }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% get_verbose_name bomber "plane_type" %}
                        </th>
                        <td>
                            {{ object.plane_type }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "plane_id" %}
                        </th>
                        <td>
                            {{ object.plane_id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% get_verbose_name bomber "crew_name" %}
                        </th>
                        <td>
                            {{ object.crew_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "target_place" %}
                        </th>
                        <td>
                           <a href="{{ object.target_place.get_absolute_url }}">{{ object.target_place }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "sicht_koord" %}
                        </th>
                        <td>
                            {{ object.sicht_koord }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "sicht_ort" %}
                        </th>
                        <td>
                            {{ object.sicht_ort }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "sicht_land" %}
                        </th>
                        <td>
                            {{ object.sicht_land }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "date_of_crash" %}
                        </th>
                        <td>
                            {{ object.date_of_crash }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "crash_place" %}
                        </th>
                        <td>
                          <a href="{{ object.crash_place.get_absolute_url }}">{{ object.crash_place }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                           {% get_verbose_name bomber "reason_of_crash" %}
                        </th>
                        <td>
                            {{ object.reason_of_crash }}
                        </td>
                    </tr>
                    {% if object.uhrzeit %}
                    <tr>
                        <th>
                           {% get_verbose_name bomber "uhrzeit" %}
                        </th>
                        <td>
                            {{ object.uhrzeit }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.uhrzeit_absturz %}
                    <tr>
                        <th>
                           {% get_verbose_name bomber "uhrzeit_absturz" %}
                        </th>
                        <td>
                            {{ object.uhrzeit_absturz }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.comment %}
                    <tr>
                        <th>
                           {% get_verbose_name bomber "comment" %}
                        </th>
                        <td>
                            {{ object.comment }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
                {% if user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url 'entities:bomber_delete' pk=object.id %}">delete</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div id="map"/>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
