{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@0/lib/network-visualization.umd.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Info
                          <small>
                            <a href="{% url 'archeutils:res_as_arche_graph' app_label='entities' model_name='bomber' pk=object.id %}" title="download ARCHE-RDF">
                              <i class="fas fa-download"></i>
                            </a>
                            <a href="{% url 'tei:res_as_tei' app_label='entities' model_name='bomber' pk=object.id %}" title="download as XML/TEI">
                              <i class="fas fa-download"></i>
                            </a>
                        </small>
                        </h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>
                                    {% get_verbose_name bomber "macr_nr" %}
                                </th>
                                <td>
                                      {{ object.macr_nr }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "squadron" %}
                                </th>
                                <td>
                                   <a href="{{ object.squadron.get_absolute_url }}">{{ object.squadron }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% get_verbose_name bomber "plane_type" %}
                                </th>
                                <td>
                                    {{ object.plane_type }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "plane_id" %}
                                </th>
                                <td>
                                    {{ object.plane_id }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "name" %}
                                </th>
                                <td>
                                    {{ object.name }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% get_verbose_name bomber "crew_name" %}
                                </th>
                                <td>
                                    {{ object.crew_name }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "target_place" %}
                                </th>
                                <td>
                                   <a href="{{ object.target_place.get_absolute_url }}">{{ object.target_place }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "sicht_koord" %}
                                </th>
                                <td>
                                    {{ object.sicht_koord }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "sicht_ort" %}
                                </th>
                                <td>
                                    {{ object.sicht_ort }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "sicht_land" %}
                                </th>
                                <td>
                                    {{ object.sicht_land }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "date_of_crash" %}
                                </th>
                                <td>
                                    {{ object.date_of_crash }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "crash_place" %}
                                </th>
                                <td>
                                  <a href="{{ object.crash_place.get_absolute_url }}">{{ object.crash_place }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "reason_of_crash" %}
                                </th>
                                <td>
                                    {{ object.reason_of_crash }}
                                </td>
                            </tr>
                            {% if object.uhrzeit %}
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "uhrzeit" %}
                                </th>
                                <td>
                                    {{ object.uhrzeit }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.uhrzeit_absturz %}
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "uhrzeit_absturz" %}
                                </th>
                                <td>
                                    {{ object.uhrzeit_absturz }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.comment %}
                            <tr>
                                <th>
                                   {% get_verbose_name bomber "comment" %}
                                </th>
                                <td>
                                    {{ object.comment }}
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Map</h4>
                    </div>
                    <div class="card-body">
                        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                    </div>
                    <script type="text/javascript">
                        function createLink(propertyObject){
                            var link = '<a href="'+propertyObject.self_link+'">'+propertyObject.name+'</a>';
                            return link
                        }
                        function onEachFeature(feature, layer) {
                            if (feature.properties && feature.properties.name) {
                                var popupContent = createLink(feature.properties);
                                layer.bindPopup(popupContent);
                            }
                          }

                        function map_init_basic (map, options) {

                            var geojsonFeature = {{ object.get_geojson|safe }};
                            var GeoJsonLayer = L.geoJson(geojsonFeature, {onEachFeature: onEachFeature});
                            GeoJsonLayer.addTo(map);
                            map.fitBounds(GeoJsonLayer.getBounds());

                        }
                    </script>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Netzwerk</h4>
                    </div>
                    <div class="card-body">
                        <div id="visualization" style="position: relative; height: 400px; background: #fafafa;"></div>
                        {{ object.netvis_data|json_script:"netviz-data" }}
                        <script type="text/javascript">
                            const graph = JSON.parse(document.getElementById('netviz-data').textContent);
                            ReactDOM.render(
                                React.createElement(NetworkVisualization.SelectionControls, {graph}),
                                document.getElementById('visualization')
                            )
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="crew-tab" data-toggle="tab" href="#crew" role="tab" aria-controls="crew" aria-selected="true">Crew</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="crew" role="tabpanel" aria-labelledby="crew-tab">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Rank
                            </th>
                            <th>
                                Function
                            </th>
                            <th>
                                Destiny
                            </th>
                        </tr>
                        {% for x in object.has_crew.all %}
                        <tr>
                            <td>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </td>
                            <td>
                                {{ x.function_in_plane }}
                            </td>
                            <td>
                                {{ x.rank }}
                            </td>
                            <td>
                                {{ x.destiny_stated }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock custom%}
