{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@latest/lib/network-visualization.umd.js"></script>
    {% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Info</h4>
                  </div>
                  <div class="card-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            Name
                        </th>
                        <td>
                            {{ object.written_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Typ
                        </th>
                        <td>
                            {{ object.inst_type }}
                        </td>
                    </tr>
                    {% if object.authority_url %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "authority_url" %}
                            </th>
                            <td>
                                <a href="{{ object.authority_url }}">{{ object.authority_url }}</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_names.all %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "alt_names" %}
                            </th>
                            <td>
                                {% for x in object.alt_names.all %}
                                    {{ x }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.parent_institution %}
                        <tr>
                            <th>
                                Übergeordnete Einheit
                            </th>
                            <td>
                                <a href="{{ object.parent_institution.get_absolute_url }}">{{ object.parent_institution }}</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.children_institutions.all %}
                        <tr>
                            <th>
                                Untergeordnete Einheiten
                            </th>
                            <td>
                                <ul>
                                    {% for x in object.children_institutions.all %}
                                        <li>
                                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                            <ul>
                                                {% for y in x.has_bomber.all %}
                                                    <li>
                                                        <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </td>
                        </tr>
                    {% endif %}
                    {% if object.has_bomber.all %}
                        <tr>
                            <th>
                                Flugzeuge
                            </th>
                            <td>
                                <ul>
                                    {% for x in object.has_bomber.all %}
                                        <li>
                                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.location %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "location" %}
                            </th>
                            <td>
                                <a href="{{ object.location.get_absolute_url }}">{{ object.location }}</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>

                {% if user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url 'entities:institution_delete' pk=object.id %}">delete</a>
                {% endif %}
            </div>
        </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Netzwerk</h4>
                    </div>
                    <div class="card-body">
                        <div id="visualization" style="position: relative; height: 400px; background: #fafafa;"></div>
                        {{ netvis_data|json_script:"netviz-data" }}
                        <script type="text/javascript">
                            const graph = JSON.parse(document.getElementById('netviz-data').textContent);
                            ReactDOM.render(
                                React.createElement(NetworkVisualization.SelectionControls, {graph}),
                                document.getElementById('visualization')
                            )
                        </script>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
