{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Info</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                      <th>
                        {% get_verbose_name onlineressource "www_url" %}
                      </th>
                      <td>
                        <a href="{{ object.www_url }}">{{ object.www_url }}</a>
                      </td>
                  </tr>
                    <tr>
                        <th>
                            {% get_verbose_name onlineressource "description_short" %}
                        </th>
                        <td>
                            {{ object.description_short }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% get_verbose_name onlineressource "description_long" %}
                        </th>
                        <td>
                            {{ object.description_long }}
                        </td>
                    </tr>
                    <tr>
                    <th>
                        {% get_verbose_name onlineressource "related_persons" %}
                    </th>
                    <td>
                      {% for x in object.related_persons.all %}
                          <li>
                              <a href="{% url 'entities:person_detail' pk=x.id %}">{{ x }}</a>
                          </li>
                      {% endfor %}
                    </td>
                  </tr>
                    <th>
                        {% get_verbose_name onlineressource "related_bombers" %}
                    </th>
                    <td>
                      {% for x in object.related_bombers.all %}
                          <li>
                              <a href="{% url 'entities:bomber_detail' pk=x.id %}">{{ x }}</a>
                          </li>
                      {% endfor %}
                    </td>
                    </tr>
                    <th>
                        {% get_verbose_name onlineressource "related_warcrimecases" %}
                    </th>
                    <td>
                      {% for x in object.related_warcrimecases.all %}
                          <li>
                              <a href="{% url 'entities:warcrimecase_detail' pk=x.id %}">{{ x }}</a>
                          </li>
                      {% endfor %}
                    </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}
