{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Info</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>
                                    {% get_verbose_name place "name" %}
                                </th>
                                <td>
                                    {{ object.name }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% get_verbose_name place "geonames_id" %}
                                </th>
                                <td>
                                    {{ object.geonames_id }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Coordinates
                                </th>
                                <td>
                                    <abbr title="lat">{{ object.lat|truncatechars:8  }}</abbr>
                                <br/>
                                <abbr title="lng">{{ object.lng|truncatechars:8  }}</abbr>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% get_verbose_name place "alt_names" %}
                                </th>
                                <td>
                                    <ul>
                                        {% for x in object.alternative_name.all %}
                                            {% if x.id %}
                                            <li>
                                                <a href="{% url 'entities:alternativename_detail' k=x.id %}">{{ x }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% get_verbose_name place "part_of" %}
                                </th>
                                <td>
                                    {% if object.part_of %}
                                        <a href="{% url 'entities:place_detail' pk=object.part_of.id %}">{{ object.part_of }}</a>
                                    {% else %}
                                        No entry
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>has children</th>
                                <td>
                                    <ul>
                                        {% for x in object.has_child.all %}
                                            {% if x.id %}
                                                <li>
                                                    <a href="{% url 'entities:place_detail' pk=x.id %}">{{ x }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Map</h3>
                    </div>
                    <div class="card-body">
                        <div id="map"/>
                    </div>
                    <script type="text/javascript">
                        {% if object.lat %}
                            $( document ).ready(function() {
                                var placeName = "{{ object.name }}"
                                var lat = "{{ object.lat }}"
                                var lng = "{{ object.lng }}"
                                var map = L.map('map').setView([lat, lng], 10);
                                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                                    maxZoom: 18,
                                    id: 'mapbox.light',
                                    accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
                                }).addTo(map);
                                L.marker([lat, lng]).addTo(map)
                                .bindPopup(placeName)
                                .openPopup();
                            });
                        {% endif %}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="target_place-tab" data-toggle="tab" href="#target_place" role="tab" aria-controls="target_place" aria-selected="true">Target Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="crash_place-tab" data-toggle="tab" href="#crash_place" role="tab" aria-controls="crash_place" aria-selected="false">Crash Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="detention_center-tab" data-toggle="tab" href="#detention_center" role="tab" aria-controls="detention_center" aria-selected="false">Prison Station</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="target_place" role="tabpanel" aria-labelledby="target_place-tab">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Marc
                            </th>
                            <th>
                                Plane Type
                            </th>
                            <th>
                                Day of Attack
                            </th>
                        </tr>
                        {% for x in object.is_target_place.all %}
                        <tr>
                            <td>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </td>
                            <td>
                                {{ x.plane_type }}
                            </td>
                            <td>
                                {{ x.date_of_crash }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade" id="crash_place" role="tabpanel" aria-labelledby="crash_place-tab">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Marc
                            </th>
                            <th>
                                Plane Type
                            </th>
                            <th>
                                Day of Crash
                            </th>
                        </tr>
                        {% for x in object.is_crashplace.all %}
                        <tr>
                            <td>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </td>
                            <td>
                                {{ x.plane_type }}
                            </td>
                            <td>
                                {{ x.date_of_crash }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade" id="detention_center" role="tabpanel" aria-labelledby="detention_center-tab">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                station_id
                            </th>
                            <th>
                                station_type
                            </th>
                        </tr>
                        {% for x in object.place_located.all %}
                        <tr>
                            <td>
                                <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
                            </td>
                            <td>
                                {{ x.station_id }}
                            </td>
                            <td>
                                {{ x.station_type }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock custom%}
