{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Info</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>
                                    {% get_verbose_name warcrimecase "signatur" %}
                                </th>
                                <td>
                                    {{ object.signatur }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% get_verbose_name warcrimecase "start_date" %}
                                </th>
                                <td>
                                    {{ object.start_date }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name warcrimecase "date_accuracy_start" %}
                                </th>
                                <td>
                                    {{ object.date_accuracy_start }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name warcrimecase "end_date" %}
                                </th>
                                <td>
                                    {{ object.end_date }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name warcrimecase "date_accuracy_end" %}
                                </th>
                                <td>
                                    {{ object.date_accuracy_end }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                   {% get_verbose_name warcrimecase "related_urls" %}
                                </th>
                                <td>
                                  {% for x in object.related_urls.all %}
                                      <li>
                                          <a href="{% url 'entities:onlineressource_detail' pk=x.id %}">{{ x }}</a>
                                      </li>
                                  {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Abstract</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ object.abstract|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="related_persons-tab" data-toggle="tab" href="#related_persons" role="tab" aria-controls="related_persons" aria-selected="true">related Persons</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="crew" role="tabpanel" aria-labelledby="crew-tab">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                start date
                            </th>
                            <th>
                                by crime
                            </th>
                            <th>
                                Bomber
                            </th>
                        </tr>
                        {% for x in object.related_to_person.all %}
                            <tr>
                                <td>
                                    <a href="{{ x.related_person.get_absolute_url }}">{{ x.related_person }}</a>
                                </td>
                                <td>
                                    {{ x.start_date }}
                                </td>
                                <td>
                                    {{ x.relation_by_crime }}
                                </td>
                                <td>
                                    <a href="{{ x.related_person.part_of_bomber.get_absolute_url }}">{{ x.related_person.part_of_bomber }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock custom%}
