{% extends "webpage/base.html" %}
{% load static %}

{% block scriptHeader %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock scriptHeader %}


{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header" style="text-align:center;">
             <h1 class="card-title">Luftangriffe und Abstürze</h1>
        </div>
        <div class="card-body">
            <p style="text-align:center;">
                Die beiden Grafiken unten visualisieren die zeitliche Verteilung von Luftangriffen und Flugzeugabstürzen in Form einer <a href="https://cal-heatmap.com/">Calender-Heatmap</a>.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <h2><a href="{% url 'entities:browse_airstrikes' %}">Luftangriffe</a></h2>
                    <div id="cal-heatmap1"></div>
                </div>
                <div class="col-md-6">
                    <h2><a href="{% url 'entities:browse_bombers' %}">Abstürze</a></h2>
                    <div id="cal-heatmap2"></div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    const visCard = document.getElementById('cal-heatmap1')
    var spinner = new Spinner().spin();
    var cal = new CalHeatMap();
    visCard.appendChild(spinner.el);
    fetch("{% url 'entities:airstrike_time_json' %}")
      .then(response => response.json())
      .then((graph) => {
        console.log(graph);
        spinner.stop();
        cal.init({
            itemSelector: "#cal-heatmap1",
            data: graph,
            start: new Date(1943, 6), // January, 1st 2000
            range: 3,
            domain: "year",
            subDomain: "day",
            rowLimit: 12,
            tooltip: true,
            verticalOrientation:  true,
            legend: [2, 4, 8, 10],
            itemName: ["Luftangriff", "Luftangriffe"]
        });
      })
      .catch((error) => {
        // handle your errors here
        console.error(error)
      })

</script>
<script type="text/javascript">
    const visCard1 = document.getElementById('cal-heatmap2')
    var spinner1 = new Spinner().spin();
    var cal1 = new CalHeatMap();
    visCard1.appendChild(spinner1.el);
    fetch("{% url 'entities:bomber_time_json' %}")
      .then(response => response.json())
      .then((graph) => {
        console.log(graph);
        spinner1.stop();
        cal1.init({
            itemSelector: "#cal-heatmap2",
            data: graph,
            start: new Date(1943, 6), // January, 1st 2000
            range: 3,
            domain: "year",
            subDomain: "day",
            rowLimit: 12,
            tooltip: true,
            verticalOrientation:  true,
            legend: [2, 4, 8, 10],
            itemName: ["Absturz", "Abstürze"]
        });
      })
      .catch((error) => {
        // handle your errors here
        console.error(error)
      })

</script>

{% endblock %}
