{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
             <h1 class="card-title">Bibliographie</h1>
        </div>
        <div class="card-body">
            <h3>Monografie</h3>
            <ul>
                <li>
                    Nicole-Melanie Goll / Georg Hoffmann, Missing in Action – Failed to Return. A Memorial Book, Wien 2016 (Englisch und Deutsch).
                </li>
                <li>
                    Georg Hoffmann, Fliegerlynchjustiz. Gewalt gegen abgeschossene alliierte Flugzeugbesatzungen 1943–1945 (Krieg in der Geschichte, Bd. 88), Paderborn 2015.
                </li>
            </ul>
            <h3>Herausgeberschaften</h3>
            <ul>
                <li>
                    Katharina Dick / Nicole-Melanie Goll / Georg Hoffmann (Hg.), Bombenkrieg in Graz, Salzburg 2017
                </li>
            </ul>
            <h3>Artikel</h3>
            <ul>
                <li>
                    Georg Hoffmann, „Vergeltung“ im Bombenkrieg. Lynchjustiz an alliierten Flugzeugbesatzungen in Deutschland, Österreich und Ungarn 1943–1945. In: Oliver von Wrochem (Hg.): Repressalien und Terror. „Vergeltungsaktionen“ im deutsch besetzten Europa 1939 – 1945, Paderborn 2017, S. 249–265.
                </li>
                <li>
                    Georg Hoffmann, Der Fliegermord von Graz-Straßgang (4. März 1945), in: Friedrich Bouvier / u.a. (Hg.), Graecensien. Archive und Museen zu Graz, Historisches Jahrbuch der Stadt Graz 45/46 (2016), S. 439-458.
                </li>
                <li>
                    Georg Hoffmann, Verdrängte Erinnerung. Aufarbeitung und gesellschaftlicher Umgang mit dem Gewaltphänomen „Fliegerlynchjustiz“ im Kontext des alliierten Bombenkrieges, in: Günter Riederer (Hg.), Luftkrieg und Heimatfront. Ein vergessener Fliegerlynchmord in der „Stadt des KdF-Wagens“ (Texte zur Geschichte Wolfsburgs, Bd. 39), Wolfsburg 2016, S. 76-87.
                </li>
                <li>
                    ... (more to come)
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
