{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% load news_extras %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.Spin/1.1.0/leaflet.spin.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
{% endblock scriptHeader %}

{% block content %}
    <script type="text/javascript">
     function map_init_basic (map, options) {

            map.spin(true);
            var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'entities:crash_places_geojson' %}", {
               onEachFeature:function(feature, layer) {
                    layer.bindPopup('<a href="'+feature.properties.self_link+'">'+feature.properties.label.toString()+'</a>');
                }
            });
            var airstrikegj = new L.GeoJSON.AJAX("{% url 'entities:airstrikes_geojson' %}", {
               onEachFeature:function(feature, layer) {
                    layer.bindPopup('<a href="'+feature.properties.self_link+'">'+feature.properties.label.toString()+'</a>');
                }
            });
            var crashPlaceMarkers = new L.MarkerClusterGroup()
            var airStrikeMarkers = new L.MarkerClusterGroup()
            geojsonPointLayer.on('data:loaded', function () {
                map.spin(false);
                crashPlaceMarkers.addLayer(geojsonPointLayer);
                airStrikeMarkers.addLayer(airstrikegj);
                map.addLayer(crashPlaceMarkers);

                var overlayMaps = {
                    "Flugzeugabsturz": crashPlaceMarkers,
                    "Luftangriffe": airStrikeMarkers
                }

                var ctrOptions = {
                    position: 'topright',
                    collapsed: false
                }

                L.control.layers(null, overlayMaps, ctrOptions).addTo(map);
            })
        };
    </script>
    <div class="jumbotron" style="padding:0;">

        {% leaflet_map "yourmap" callback="window.map_init_basic" %}

    </div>

    <div class="container">
        <div class="card card-index">
            <div class="card-body">
                <h1 class="text-center title-index">
                    {% projects_metadata 'subtitle' %}
                </h1>
                <p class="text-center text-muted paragraph-index">
                    {% projects_metadata 'subtitle' %}
                </p>
                <hr class="hr-index"/>
                <p>
                    Das Projekt DAACDA umfasst die Sammlung, Auswertung und Darstellung von Daten und Informationen zum Schicksal amerikanischer und britischer Flugzeugbesatzungen, die zwischen 1939 und 1945 über dem heutigen Österreich zum Absturz kamen, in Gefangenschaft gerieten, Opfer von Verbrechen wurden und/oder zu Tode kamen.
                </p>
                <p>
                    Mithilfe der Datenbank ist es damit erstmals möglich, die Kriegserfahrung einzelner Flieger nachzuzeichnen bzw. nachvollziehbar zu machen. Sie beinhaltet dabei Informationen zu Einsatz, Absturzort, dem Ort der Gefangennahme, den Stationen der Kriegsgefangenschaft bis hin zur Repatriierung bzw. zu NS-Verbrechen und Sterbeort.
                </p>
                <p>
                    Ein Teil der in der Datenbank zur Verfügung gestellten Informationen konnte in Vorprojekten in unterschiedlichen US-amerikanischen, britischen, österreichischen und deutschen Archiveinrichtungen erhoben und einer Analyse zugeführt werden. Die Ergebnisse wurden in mehreren <a href="{% url 'webpage:staticpage' template='bibliography' %}">Publikationen</a> veröffentlicht. Die gewonnenen Erkenntnisse werden nun im Zuge des "go digital"-Projektes durch Informationen aus neu erschlossenen Quellenbeständen ergänzt, in Relation gesetzt, laufend erweitert, damit verdichtet und einer interessierten Öffentlichkeit zugänglich gemacht. Auch die Applikation wird ständig überarbeitet. Das Projekt versteht sich dabei als „work in progress“ und soll Ende 2019 abgeschlossen und präsentiert werden.
                </p>
                <p>
                    Wir bitten BesucherInnen dieser Website, Informationen zu einzelnen Abstürzen oder Schicksalen, den Projektmitarbeitern mitzuteilen und damit einen Beitrag zum Wachsen und zur Verdichtung dieser Website zu leisten.
                </p>
                <div class="text-right">
                    <a href="{% url 'entities:browse_persons' %}" class="btn btn-lg btn-index pulse" class="pull-right">
                    <b><i class="fa fa-angle-right"></i></b>&nbsp;&nbsp;Besatzung
                    </a>
                </div>
                <br>
            </div>
        </div>
    </div>

{% endblock %}
