{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
<style>
    #map {
        height: 500px;
    }
</style>
{% endblock %}

{% block custom %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Info</h4>
                    </div>
                    <div class="card-body">
                <table class="table table-bordered table-hover">
                  <tr>
                  <th>{% get_verbose_name personprison "related_person" %}</th>
                  <td>
                    <a href="{{ object.related_person.get_absolute_url }}">{{ object.related_person }}</a>
                  </td>
                </tr>
                <tr>
                    <th>{% get_verbose_name personprison "relation_type" %}</th>
                    <td>
                      {{ object.relation_type }}
                    </td>
                </tr>
                {% if object.alt_names.all %}
                <tr>
                    <th>{% get_verbose_name personprison "related_person" %}</th>
                    <td>
                      {{ object.related_person }}
                    </td>
                </tr>
                {% endif %}
                {% if object.related_prisonstation %}
                    <tr>
                        <th>{% get_verbose_name personprison "related_prisonstation" %}</th>
                        <td>
                          <a href="{{ object.related_prisonstation.get_absolute_url }}">{{ object.related_prisonstation }}</a>
                        </td>
                    </tr>
                {% endif %}
                {% if object.related_location %}
                    <tr>
                        <th>{% get_verbose_name personprison "related_location" %}</th>
                        <td>
                          <a href="{{ object.related_location.get_absolute_url }}">{{ object.related_location }}</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% get_verbose_name personprison "start_date" %}</th>
                    <td>
                      <abbr title="precision: {{object.start_date_acc}}">{{ object.start_date }}</abbr>
                    </td>
                </tr>
                <tr>
                    <th>{% get_verbose_name personprison "end_date" %}</th>
                    <td>
                        <abbr title="precision: {{object.end_date_acc}}">{{ object.end_date }}</abbr>
                    </td>
                </tr>
                {% if object.comment %}
                <tr>
                    <th>{% get_verbose_name personprison "comment" %}</th>
                    <td>
                      {{ object.comment }}
                    </td>
                </tr>
                {% endif %}
        </table>
        {% if user.is_authenticated %}
            <a class="btn btn-danger" href="{% url 'detentions:personprison_delete' pk=object.id %}">delete</a>
        {% endif %}
</div>
</div>
{% endblock %}
